body {
  font-family: poppins;
}

.container {
  box-sizing: border-box;
  border: 2px solid grey;
  max-width: 1000px;
  max-height: 700px;
  margin: 40px auto;
}
#circle {
  width: 200px;
  height: 200px;
  background: rgb(251, 226, 217);
  border-radius: 50%;
  display: block;
  margin: auto;
}

h1,
h2,
#date,
.github,
li,
#city,
#celsius,
#fahrenheit {
  color: #7b656b;
}
h1 {
  font-weight: 400;
  font-size: 40px;
  padding-left: 10%;
  line-height: 65%;
  text-transform: capitalize;
}

h2 {
  font-size: 24px;
  font-weight: 400;
  text-transform: capitalize;
  text-align:center;
}
.date {
  font-size: medium;
  padding-left: 20%;
  padding-top: 0;
}

hr {
  width: 55%;
  color: rgb(245, 167, 65);
  border-top: 5px solid;
  opacity: 100%;
}
#oval {
  width: 250px;
  height: 67px;
  background: transparent;
  border-radius: 100px / 78px;
  border-color: rgb(245, 167, 65);
  border-style: solid;
  display: block;
  margin-left: 50%;
  top: -90px;
}

.relative {
  position: relative;
}

input {
  border: none;
  border-radius: 6px;
  width: 30%;
  margin-left: 52%;
  padding: 10px 10px;
  transition: none;
}
button {
  border-radius: 100px / 90px;
  width: 50px;
  background-color: rgb(251, 226, 217);
  border: none;
  color: grey;
  margin-top: 3%;
  margin-left: 10%;
}

#tempUnit {
  font-size: 65px;
  font-weight: normal;
  color: grey;
  margin-left: 20%;
}

#celsius,
#fahrenheit {
  text-decoration: none;
  font-size: 17px;
  margin-left: 30%;
  cursor: default;
}

li {
  list-style: none;
  font-size: 17px;
}

.weekday {
  font-weight: 500;
  width: 25%;
}

.semicircle {
  background-color: orange;
  height: 250px;
  width: 125px;
  border-radius: 0px 125px 125px 0px;
  margin-left: -1.4%;
  margin-top: -18%;
}
.cone {
  background-color: transparent;
  border: solid rgb(239, 110, 64) 2px;
  height: 250px;
  width: 100px;
  border-radius: 125px 125px 125px 125px;
  margin-left: 91%;
  margin-top: -25%;
  border-right: none;
}
.github {
  margin-left: 45%;
  font-size: 15px;
  text-decoration: none;
  font-style: italic;
}
