body {
  font-family: poppins;
}

.container {
  box-sizing: border-box;
  border: 2px solid lightgrey;
  border-radius: 1%;
  max-width: 950px;
  height: 650px;
  margin: 40px auto;
}
button {
  border-radius: 100px / 90px;
  width: 50px;
  background-color: rgb(251, 226, 217);
  border: none;
  color: grey;
  margin-top: 3%;
  margin-left: 10%;
}

#circle {
  width: 200px;
  height: 200px;
  background: rgb(251, 226, 217);
  border-radius: 50%;
  display: block;
  margin: 0% auto;
}

h1,
h2,
#date,
.github,
li,
#city,
#celsius,
#fahrenheit {
  color: #7b656b;
}
h1 {
  font-weight: 400;
  font-size: 40px;
  padding-top: 10%;
  line-height: 65%;
  text-transform: capitalize;
  text-align: center;
  margin-top: 0%;
}

#date {
  font-size: medium;
  text-align: center;
  padding-top: -7%;
  margin-left: 20%;
  margin-top: 5%;
}
input {
  width: 250px;
  height: 67px;
  background: transparent;
  border-radius: 100px / 78px;
  border-color: rgb(245, 167, 65);
  border-style: solid;
  display: block;
  margin: -6% auto;
  position: relative;
  transition: none;
  background-color: transparent;
  text-align: center;
}

#icon {
  margin-top: -18%;
  padding: auto;
}
h2 {
  font-size: 24px;
  font-weight: 400;
  text-transform: capitalize;
  text-align: center;
  margin-top: 35px;
}

hr {
  width: 55%;
  color: rgb(245, 167, 65);
  border-top: 5px solid;
  opacity: 100%;
  margin-top: 5%;
}

#tempUnit {
  font-size: 90px;
  font-weight: normal;
  color: grey;
  margin-left: 10%;
  margin-top: -4%;
  padding: auto;
}

#celsius {
  text-decoration: none;
  font-size: 17px;
  cursor: default;
  margin-left: 20%;
}
#fahrenheit {
  text-decoration: none;
  font-size: 17px;
  cursor: default;
  margin-left: 0%;
}

li {
  list-style: none;
  font-size: 17px;
}

.details {
  color: lightgrey;
  border: 2px;
  margin-top: 16%;
  margin-bottom: 0%;
}
.col-6 {
  margin-left: 15%;
  margin-top: -14%;
  font-style: italic;
  font-family: poppins;
}

.semicircle {
  background-color: orange;
  height: 200px;
  width: 115px;
  border-radius: 0px 125px 125px 0px;
  margin-left: -1.2%;
  margin-top: 4%;
}
.cone {
  background-color: transparent;
  border: solid rgb(239, 110, 64) 2px;
  height: 250px;
  width: 100px;
  border-radius: 125px 125px 125px 125px;
  margin-left: 91%;
  margin-top: -25%;
  border-right: none;
}
.weather-forecast {
  margin-left: 13%;
  margin-top: -15%;
  text-align: center;
}
.weather-forecast-date,
.weather-forecast-max {
  font-size: 15px;
  color: #7b656b;
  font-weight: 600;
}
.weather-forecast-min {
  color: #7b656b;
}

.github {
  margin-left: 45%;
  font-size: 15px;
  text-decoration: none;
  font-style: italic;
}
